#app1{
    width: 50vw;
    height: 50vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app1 .output{
    margin-right: 30px;
}
#app1 .actions{}