#app3 .square{
    border: 1px solid grey;
    margin-top: 10vw;
    margin-left: 10vw;
    width: 6vw;
    height: 6vw;
    transition: transform 1s;
}
#app3 .square.active{
    transform: translateX(15vw);
}